<a href="https://colab.research.google.com/github/R-A-Rosas/pandas-workshop/blob/main/Activity_1_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

# Get the current working directory
cwd = os.getcwd()

# List the files in the current working directory
files = os.listdir(cwd)

# Print the file paths
for file in files:
    file_path = os.path.join(cwd, file)
    print(file_path)

/content/.config
/content/The-Pandas-Workshop-master.zip
/content/sample_data

In [ ]:
import pandas as pd
import random

In [ ]:
Store1 = pd.read_csv('/Store1.csv')
Store1.head()

  Months  Grocery_sales  Stationary_sales
0    Jan             16                57
1    Jan             44               139
2    Jan             15                85
3    Jan             59                 8
4    Jan             36               106

In [22]:
Store2 = pd.read_csv('/content/Store2.csv')
Store2.head()

  Months  Grocery_sales  Stationary_sales
0    Jan             36                84
1    Jan             51                63
2    Jan             17                71
3    Jan             48                65
4    Jan             57                66

In [ ]:
# Question 1

In [23]:
# Store 1 total Sales
Sales_store1 = (Store1[['Grocery_sales','Stationary_sales']].sum(axis=1)).sum()
Sales_store1

6082

In [24]:
# Store 2 total Sales
Sales_store2 = (Store2[['Grocery_sales','Stationary_sales']].sum(axis=1)).sum()
Sales_store2

5847

In [ ]:
# Which store had the greatest value in sales? Store 1

In [ ]:
# Question 2

In [25]:
# Store 1 total number of grocery sales
Sales_store1 = (Store1[['Grocery_sales','Stationary_sales']].sum(axis=1)).sum()
Sales_store1

6082

In [26]:
# Store 2 total number of grocery sales
Sales_store2 = (Store2[['Grocery_sales','Stationary_sales']].sum(axis=1)).sum()
Sales_store2

5847

In [ ]:
# Which Store had the highest sales for Grocery? Store 2

In [27]:
# Question 3

In [28]:
# Store 1 sales for march
Sales_store1 = Store1.groupby(['Months'])[['Grocery_sales','Stationary_sales']].agg('sum').agg('sum',axis =1)
Sales_store1

Months
Feb    1744
Jan    1467
Mar    2871
dtype: int64

In [29]:
# Store 2 sales for march
Sales_store2 = Store2.groupby(['Months'])[['Grocery_sales','Stationary_sales']].agg('sum').agg('sum',axis =1)
Sales_store2

Months
Feb    2050
Jan    1419
Mar    2378
dtype: int64

In [30]:
# Which store had the highest sales for the month of March? Store 1

In [31]:
# Question 4

In [32]:
# In how many days were the sales value for stationary greater in store 1 than store 2
Store1_stationary_greater = Store1[Store1['Stationary_sales'].gt(Store2['Stationary_sales'],axis=0)]
Store1_stationary_greater

<ipython-input-32-8bd3060fca64>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Store1_stationary_greater = Store1[Store1['Stationary_sales'].gt(Store2['Stationary_sales'],axis=0)]

   Months  Grocery_sales  Stationary_sales
1     Jan             44               139
2     Jan             15                85
4     Jan             36               106
5     Jan             27               136
6     Jan             74               116
7     Jan             63               142
8     Jan             65               129
9     Jan             12               138
10    Feb             34               112
11    Feb             73               100
12    Feb             45               135
13    Feb             31                13
14    Feb             61                51
16    Feb             20               141
17    Feb             18                72
18    Feb             60               134
19    Feb             62                47
21    Feb             25                75
23    Feb             10               118
25    Mar             72                97
26    Mar             48                63
27    Mar             64                54
28    Mar             14                78
29    Mar             51               104
30    Mar             30               133
33    Mar             66                80
35    Mar             54               111
36    Mar             46               147
37    Mar             43               137
39    Mar             55                50
42    Mar             28                73
44    Mar             57               124
46    Mar             11                86
48    Mar             52                68
49    Mar             29               113

In [33]:
len(Store1_stationary_greater)

35

In [34]:
# In how many days were the sales value for stationary greater in store 1 than store 2? 35 days where Store 1 is higher that Store 2